
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container" *ngIf="restaurant && comments">
  <img [src]="getImagePath(restaurant)" style="width: 100%;height: 35rem;object-fit: cover;" alt="">
  <div class="all">
    <div class="row mt-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="search">
          <h2>{{restaurant.restaurantName.toUpperCase()}}</h2>
          <div class="row">
            <div class="col-md-6">
              <p><i class="fa-solid fa-house"></i>
                {{restaurant.restaurantAddress.charAt(0).toUpperCase() + restaurant.restaurantAddress.slice(1)}}
              </p>
              <p><i class="fa-solid fa-clock"></i> {{restaurant.openingTime}} / {{restaurant.closingTime}}</p>

              <p *ngIf="restaurant.restaurantRate!=0 ">Restoran Puanı:
                <i class="fa-solid fa-star stars " *ngFor="let x of remainderRate"></i>
                <i class="fa-solid fa-star  remainderRateColor" *ngFor="let x of rate"></i>
                
              </p>
              <p *ngIf="restaurant.restaurantRate==0" style="color: #5e196b; font-weight: bold;">Henüz Puanlanlama Yaplımamıştır</p>
            </div>
            <div class="col-md-6">
              <p><i class="fa-solid fa-envelope"></i> {{restaurant.mailAddress}}</p>
              <p><i class="fa-solid fa-phone"></i> {{restaurant.phoneNumber}}</p>
              <button class="btn  btn-success" (click)="changeRestaurantStatusActive(restaurant)">Dükkanı Aç</button>
              <button class="btn  btn-success" style="margin-left: 1rem;" (click)="changeRestaurantStatusPassive(restaurant)">Dükkanı Kapat</button>
              <h2 style="margin-left: 0.1;">Dükkan durumu: {{restaurantIsOpen}}</h2>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h4 class="filterText mb-3 p-2" style="border-radius: 5px;">Filtreler</h4>
        <div class="container filter">
          <h4 style="margin-left: 1rem;font-weight: bold;">Restoran Menüleri</h4>
          <ul class="filter_list">

            <mat-radio-button value="1">Burger</mat-radio-button>
            <mat-radio-button value="2">Yan Soslar</mat-radio-button>
            <mat-radio-button value="2">İçecek</mat-radio-button>
            <mat-radio-button value="2">Tatlı</mat-radio-button>
          </ul>
        </div>
      </div>
    </div>
    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control"  placeholder="Restoran İçi Menü Arama..."
        aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="row mb-3">
      <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-12 item"
        *ngFor="let menu of restaurantMenuDetails" style="position: relative;">
        <div class="card">
          <img class="card-img-top" [src]="getMenusImagePath(menu)" style="height:17rem;width: 100%; max-height: 17rem;"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title" style="font-weight: bold;">{{menu.menuTitle.charAt(0).toUpperCase() +
              menu.menuTitle.slice(1)}}</h4>
            <div class="d-flex justify-content-between">
              <p class="card-text">{{menu.menuDescription.charAt(0).toUpperCase() + menu.menuDescription.slice(1)}}</p>
              <p class="card-price">{{menu.menuPrice}} TL </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="mt-4  mb-4">
      <div class="row">
        <div class="col-md-12">
          <h2>Restoran Yorumları</h2>
          <hr>
          <div class="alert alert-success" role="alert" *ngIf="comments.length == 0">
            Bu restorana daha önce hiç yorum yapılmamış!
          </div>
          <section class="gradient-custom w-100">
            <div class="w-100">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12" *ngFor="let comment of comments">
                  <div class="card">
                    <div class="card-body p-4">
                      <div class="row">
                        <div class="col">
                          <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3"
                              src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png" alt="avatar" width="65"
                              height="65" />
                            <div class="flex-grow-1 flex-shrink-1">
                              <div>
                                <div class="d-flex justify-content-between align-items-center">
                                  <p class="mb-1" style="font-weight: bold;">
                                    {{comment.customerName.slice(0,1)}}***** <span class="small">-  {{comment.commentDate}}</span>
                                  </p>
                                </div>
                                <p class="small mb-0">
                                  {{comment.commentContent}}
                                </p>
                              </div>
          
                              <div class="d-flex flex-start mt-4" *ngIf="comment.answer!=null  ">
                                <a class="me-3" href="#">
                                  <img class="rounded-circle shadow-1-strong"
                                    src="https://www.kindpng.com/picc/m/22-223863_no-avatar-png-circle-transparent-png.png" alt="avatar"
                                    width="65" height="65" />
                                </a>
                                <div class="flex-grow-1 flex-shrink-1">
                                  <div>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <p class="mb-1">
                                        {{comment.restaurantName}} <span class="small">- {{comment.answerDate}}</span>
                                      </p>
                                    </div>
                                    <p class="small mb-0">
                                      {{comment.answer}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex flex-start mt-4 " *ngIf="comment.answer==null">
                                <div class="flex-grow-1 flex-shrink-1">
                                  <div>
                                    <h3>Cevapla: </h3>
                                    <div class="form-outline w-100 mb-4">
                                      <form [formGroup]="answerForm">
                                        <input type="text" style="display: none;"formControlName="restaurantName" value="{{comment.restaurantName}}">
                                      <textarea (click)="asd(comment)" class="form-control" formControlName="answer" id="textAreaExample5" rows="2"></textarea>
                                    </form>
                                    </div>
                                    <button (click)="answer()" class="btn btn-success">Gönder</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


