<div class="d-flex" style="justify-content: center; align-items: center;" >
    <div class="col-lg-6">
        <div class="col-auto">
            <h4 class="color-1 mb-0" style="font-weight: bold;color: #5D196A;">Geçmiş Siparişlerim</h4>
        </div>
        <hr>
        <label class="mb-2" for="exampleFormControlInput1" style="font-weight: bold;">Restoran Adına Göre Eski Sipariş
            Ara</label>
        <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Restoran Adı">
        <div class="container-fluid d-flex justify-content-center " style="margin-top: 0px; align-items: center;"
            class="mb-4">
            <div class=" card-1">
                <div class="card-body">
                    <div class="row mb-3">
                        <div>
                            <div class="col">
                                <div class="card border_bottom_none">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="d-flex justify-content-between">
                                                <div class="sq align-self-center ">
                                                    <p style="font-weight: bold;">Restoran : burger king</p>
                                                    <p style="font-weight: bold;">Sipariş No : 123123asfasfaf</p>
                                                    <p style="font-weight: bold;">Sipariş Tarihi: 27.04.2022</p>
                                                </div>
                                                <div>
                                                    <span style="font-weight: bold;">Teslim Edilen Adres: </span>
                                                    inönü mah hakan cad
                                                </div>
                                            </div>
                                            <br>
                                            <h3 style="font-weight: bold;">Sipariş İçeriği</h3>
                                        </div>
                                        <hr class="my-3 ">
                                    </div>
                                    <div>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Menü Resmi</th>
                                                    <th scope="col">Menü İsmi</th>
                                                    <th scope="col">Menü Fiyatı</th>
                                                    <th scope="col">Adet</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        <img src="https://images.deliveryhero.io/image/fd-tr/LH/kuk6-hero.jpg?width=480&height=360&quality=45"
                                                            alt="" width="70" height="70">
                                                    </th>
                                                    <td>SteakHouse</td>
                                                    <td>125</td>
                                                    <td>3 Adet</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="mb-3 d-flex" style="flex-direction: row-reverse; margin-right: 2rem;">
                                            Sipariş Açıklaması :
                                            safasfafs</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div class="col">
                                <div class="card border_bottom_none">
                                    <div class="card-body">
                                        <div class="media">
                                            <div class="d-flex justify-content-between">
                                                <div class="sq align-self-center ">
                                                    <p style="font-weight: bold;">Restoran : burger king</p>
                                                    <p style="font-weight: bold;">Sipariş No : 123123asfasfaf</p>
                                                    <p style="font-weight: bold;">Sipariş Tarihi: 27.04.2022</p>
                                                </div>
                                                <div>
                                                    <span style="font-weight: bold;">Teslim Edilen Adres: </span>
                                                    inönü mah hakan cad
                                                </div>
                                            </div>
                                            <br>
                                            <h3 style="font-weight: bold;">Sipariş İçeriği</h3>
                                        </div>
                                        <hr class="my-3 ">
                                        <div>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Menü Resmi</th>
                                                        <th scope="col">Menü İsmi</th>
                                                        <th scope="col">Menü Fiyatı</th>
                                                        <th scope="col">Adet</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            <img src="https://images.deliveryhero.io/image/fd-tr/LH/kuk6-hero.jpg?width=480&height=360&quality=45"
                                                                alt="" width="70" height="70">
                                                        </th>
                                                        <td>SteakHouse</td>
                                                        <td>125</td>
                                                        <td>3 Adet</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="mb-3 d-flex" style="flex-direction: row-reverse; margin-right: 2rem;">
                                                Sipariş Açıklaması :
                                                safasfafs</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>